<h1>ANOVOS - Association Evaluator<span class="tocSkip"></span></h1>
<p> Following notebook shows the list of functions related to "asociation evaultion" module provided under ANOVOS package and how it can be invoked accordingly</p>
<div class="toc"><ul class="toc-item"><li><span><a href="#Correlation-Matrix" data-toc-modified-id="Correlation-Matrix-1">Correlation Matrix</a></span></li><li><span><a href="#Variable-Clustering" data-toc-modified-id="Variable-Clustering-2">Variable Clustering</a></span></li><li><span><a href="#Information-Value-(IV)" data-toc-modified-id="Information-Value-(IV)-3">Information Value (IV)</a></span></li><li><span><a href="#Information-Gain-(IG)" data-toc-modified-id="Information-Gain-(IG)-4">Information Gain (IG)</a></span></li></ul></div>

**Setting Spark Session**

In [1]:
from anovos.shared.spark import *

**Input/Output Path**

In [2]:
inputPath = "../data/income_dataset/csv"
outputPath = "../output/income_dataset/data_analyzer"

In [3]:
from anovos.data_ingest.data_ingest import read_dataset

In [4]:
df = read_dataset(spark, file_path = inputPath, file_type = "csv",file_configs = {"header": "True", 
                                                                           "delimiter": "," , 
                                                                           "inferSchema": "True"})
df.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,UnitedStates,<=50K
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,UnitedStates,<=50K
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,UnitedStates,<=50K
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,UnitedStates,<=50K
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

# Correlation Matrix
- API specification of function **correlation_matrix** can be found <a href="../api_specification/anovos/data_analyzer/association_evaluator.html#anovos.data_analyzer.association_evaluator.correlation_matrix">here</a>

In [5]:
from anovos.data_analyzer.association_evaluator import correlation_matrix

In [6]:
# Example 1 - 'all' columns (excluding drop_cols) --- MUST remove high cardinality columns
odf = correlation_matrix(spark, idf = df, list_of_cols='all', drop_cols=['ifa'])
odf.toPandas()

2021-11-04 18:10:48,735 INFO [histogram_filler_base]: Filling 136 specified histograms. auto-binning.
100%|█████████████████████████████████████████████████████████████| 136/136 [00:26<00:00,  5.23it/s]

,age,capital-gain,capital-loss,education,education-num,fnlwgt,hours-per-week,income,logfnl,marital-status,native-country,occupation,race,relationship,sex,workclass,attribute
0,1.000000,0.189143,0.149278,0.351468,0.307710,0.071500,0.374326,0.371282,0.095748,0.567636,0.090161,0.317458,0.037570,0.518391,0.136002,0.299177,age
1,0.189143,1.000000,0.000000,0.232282,0.278753,0.000000,0.134373,0.363159,0.000000,0.147185,0.000000,0.150385,0.000000,0.220468,0.070488,0.104854,capital-gain
2,0.149278,0.000000,1.000000,0.137968,0.108970,0.000000,0.063151,0.236992,0.000000,0.139274,0.024224,0.075212,0.000000,0.133671,0.090275,0.050194,capital-loss
3,0.351468,0.232282,0.137968,1.000000,0.999993,0.062800,0.214868,0.408941,0.084964,0.615107,0.416369,0.495816,0.250895,0.385173,0.111322,0.234612,education
4,0.307710,0.278753,0.108970,0.999993,1.000000,0.065085,0.217432,0.467219,0.087599,0.230548,0.421516,0.590182,0.119653,0.227612,0.112019,0.229663,education-num
5,0.071500,0.000000,0.000000,0.062800,0.065085,1.000000,0.030981,0.045367,0.960338,0.069952,0.172020,0.079118,0.134013,0.037772,0.018828,0.061078,fnlwgt
6,0.374326,0.134373,0.063151,0.214868,0.217432,0.030981,1.000000,0.310192,0.085348,0.264090,0.073563,0.346109,0.114166,0.321768,0.323359,0.279103,hours-per-week
7,0.371282,0.363159,0.236992,0.408941,0.467219,0.045367,0.310192,1.000000,0.067692,0.591336,0.115731,0.446535,0.131476,0.452741,0.323706,0.230552,income
8,0.095748,0.000000,0.000000,0.084964,0.087599,0.960338,0.085348,0.067692,1.000000,0.059919,0.197146,0.110344,0.187069,0.064678,0.031693,0.079898,logfnl
9,0.567636,0.147185,0.139274,0.615107,0.230548,0.069952,0.264090,0.591336,0.059919,1.000000,0.152067,0.351355,0.246052,0.713109,0.547093,0.201391,marital-status
10,0.090161,0.000000,0.024224,0.416369,0.421516,0.172020,0.073563,0.115731,0.197146,0.152067,1.000000,0.229639,0.630329,0.166632,0.078009,0.458213,native-country
11,0.317458,0.150385,0.075212,0.495816,0.590182,0.079118,0.346109,0.446535,0.110344,0.351355,0.229639,1.000000,0.154366,0.528692,0.716283,0.741602,occupation
12,0.037570,0.000000,0.000000,0.250895,0.119653,0.134013,0.114166,0.131476,0.187069,0.246052,0.630329,0.154366,1.000000,0.600369,0.608577,0.085917,race
13,0.518391,0.220468,0.133671,0.385173,0.227612,0.037772,0.321768,0.452741,0.064678,0.713109,0.166632,0.528692,0.600369,1.000000,0.890410,0.181764,relationship
14,0.136002,0.070488,0.090275,0.111322,0.112019,0.018828,0.323359,0.323706,0.031693,0.547093,0.078009,0.716283,0.608577,0.890410,1.000000,0.186017,sex
15,0.299177,0.104854,0.050194,0.234612,0.229663,0.061078,0.279103,0.230552,0.079898,0.201391,0.458213,0.741602,0.085917,0.181764,0.186017,1.000000,workclass

In [7]:
# Example 2 - selected columns
odf = correlation_matrix(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'])
odf.toPandas()

2021-11-04 18:11:20,628 INFO [histogram_filler_base]: Filling 15 specified histograms. auto-binning.
100%|███████████████████████████████████████████████████████████████| 15/15 [00:01<00:00,  8.77it/s]

        age    fnlwgt      race       sex  workclass  attribute
0  1.000000  0.071500  0.037570  0.136002   0.299177        age
1  0.071500  1.000000  0.134013  0.018828   0.061078     fnlwgt
2  0.037570  0.134013  1.000000  0.608577   0.085917       race
3  0.136002  0.018828  0.608577  1.000000   0.186017        sex
4  0.299177  0.061078  0.085917  0.186017   1.000000  workclass

In [8]:
# Example 3 - selected columns + presaved stats
from anovos.data_analyzer.stats_generator import measures_of_cardinality
from anovos.data_ingest.data_ingest import write_dataset
unique = write_dataset(measures_of_cardinality(spark, df),outputPath+"/unique","parquet", file_configs={"mode":"overwrite"})

odf = correlation_matrix(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'],
                                  stats_unique={"file_path":outputPath+"/unique", "file_type": "parquet"})
odf.toPandas()

2021-11-04 18:11:36,465 INFO [histogram_filler_base]: Filling 15 specified histograms. auto-binning.
100%|███████████████████████████████████████████████████████████████| 15/15 [00:01<00:00, 10.34it/s]

        age    fnlwgt      race       sex  workclass  attribute
0  1.000000  0.071500  0.037570  0.136002   0.299177        age
1  0.071500  1.000000  0.134013  0.018828   0.061078     fnlwgt
2  0.037570  0.134013  1.000000  0.608577   0.085917       race
3  0.136002  0.018828  0.608577  1.000000   0.186017        sex
4  0.299177  0.061078  0.085917  0.186017   1.000000  workclass

# Variable Clustering
- API specification of function **variable_clustering** can be found <a href="../api_specification/anovos/data_analyzer/association_evaluator.html#anovos.data_analyzer.association_evaluator.variable_clustering">here</a>
- Valid only on smaller dataset which can fit into pandas dataframe. Sample size can controlled by sample_size argument (default value: 100,000)

In [9]:
from anovos.data_analyzer.association_evaluator import variable_clustering

In [10]:
# Example 1 - with mandatory arguments (rest arguments have default values)
odf = variable_clustering(spark, df)
odf.toPandas()

    Cluster       Attribute  RS_Ratio
0         0  marital-status    0.4999
1         0    relationship    0.3522
2         0             sex    0.3373
3         0  hours-per-week    0.8264
4         1          fnlwgt    0.2277
5         1          logfnl    0.2271
6         2          income    0.5765
7         2   education-num    0.4163
8         2      occupation    0.5893
9         2    capital-loss    0.8975
10        3            race    0.3777
11        3  native-country    0.3734
12        4       education    0.8364
13        4             age    0.4758
14        4       workclass    0.5256
15        4             ifa    0.9973
16        5    capital-gain    0.0000

In [11]:
# Example 2 - 'all' columns (excluding drop_cols)
odf = variable_clustering(spark, idf = df, list_of_cols='all', drop_cols=['ifa'])
odf.toPandas()

    Cluster       Attribute  RS_Ratio
0         0  marital-status    0.4999
1         0    relationship    0.3522
2         0             sex    0.3373
3         0  hours-per-week    0.8264
4         1          fnlwgt    0.2277
5         1          logfnl    0.2271
6         2          income    0.5765
7         2   education-num    0.4163
8         2      occupation    0.5893
9         2    capital-loss    0.8975
10        3            race    0.3777
11        3  native-country    0.3734
12        4       education    0.8361
13        4             age    0.4740
14        4       workclass    0.5254
15        5    capital-gain    0.0000

In [12]:
# Example 3 - selected columns
odf = variable_clustering(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'])
odf.toPandas()

   Cluster  Attribute  RS_Ratio
0        0        age    0.4587
1        0     fnlwgt    0.8270
2        0  workclass    0.5303
3        1       race    0.4607
4        1        sex    0.4618

In [13]:
# Example 4 - only numerical columns (user warning is shown as encoding was not required due to absence of any categorical column)
odf = variable_clustering(spark, idf = df, list_of_cols= ['age','education-num','capital-gain'])
odf.toPandas()

/Users/chensinuo/anaconda3/envs/py3/lib/python3.7/site-packages/anovos/data_transformer/transformers.py:265: UserWarning: No Encoding Computation
  warnings.warn("No Encoding Computation")

   Cluster      Attribute  RS_Ratio
0        0   capital-gain    0.4886
1        0  education-num    0.5839
2        0            age    0.7640

In [14]:
# Example 5 - only categorical columns
odf = variable_clustering(spark, idf = df, list_of_cols= ['sex','race','workclass'])
odf.toPandas()

   Cluster  Attribute  RS_Ratio
0        0        sex    0.4605
1        0       race    0.4606
2        1  workclass    0.0000

In [15]:
# Example 6 - Change in Sample Size
odf = variable_clustering(spark, idf = df, list_of_cols= 'all', sample_size=10000)
odf.toPandas()

    Cluster       Attribute  RS_Ratio
0         0    relationship    0.3440
1         0             sex    0.3389
2         0  marital-status    0.5157
3         0  hours-per-week    0.8274
4         1          fnlwgt    0.2251
5         1          logfnl    0.2246
6         2          income    0.5642
7         2   education-num    0.4338
8         2      occupation    0.6329
9         2    capital-loss    0.8807
10        3            race    0.3760
11        3  native-country    0.3726
12        4             age    0.4344
13        4       workclass    0.4288
14        5    capital-gain    0.0000
15        6             ifa    0.4937
16        6       education    0.4963

In [16]:
# Example 7 - selected columns + presaved stats
from anovos.data_analyzer.stats_generator import measures_of_cardinality, measures_of_centralTendency
from anovos.data_ingest.data_ingest import write_dataset
unique = write_dataset(measures_of_cardinality(spark, df),outputPath+"/unique","parquet", file_configs={"mode":"overwrite"})
mode = write_dataset(measures_of_centralTendency(spark, df),outputPath+"/mode","parquet", file_configs={"mode":"overwrite"})

odf = variable_clustering(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'],
                                  stats_unique={"file_path":outputPath+"/unique", "file_type": "parquet"},
                                  stats_mode={"file_path":outputPath+"/mode", "file_type": "parquet"})
odf.toPandas()

   Cluster  Attribute  RS_Ratio
0        0        age    0.4587
1        0     fnlwgt    0.8270
2        0  workclass    0.5303
3        1       race    0.4607
4        1        sex    0.4618

# Information Value (IV)
- API specification of function **IV_calculation** can be found <a href="../api_specification/anovos/data_analyzer/association_evaluator.html#anovos.data_analyzer.association_evaluator.IV_calculation">here</a>
- Supports only binary target variable

In [17]:
from anovos.data_analyzer.association_evaluator import IV_calculation

In [18]:
# Example 1 - with mandatory arguments (rest arguments have default values)
odf = IV_calculation(spark, df, label_col='income', event_label=">50K")
odf.toPandas()

         attribute      iv
0     relationship  1.5348
1   marital-status  1.3390
2              age  1.0793
3       occupation  0.7772
4        education  0.7345
5    education-num  0.6984
6   hours-per-week  0.4499
7     capital-gain  0.3138
8              sex  0.3037
9        workclass  0.1625
10    capital-loss  0.0860
11  native-country  0.0780
12            race  0.0697
13          fnlwgt  0.0088
14          logfnl  0.0048
15           empty  0.0000
16             ifa     NaN

In [19]:
# Example 2 - 'all' columns (excluding drop_cols)
odf = IV_calculation(spark, idf = df, list_of_cols='all', drop_cols=['ifa'], label_col='income', event_label=">50K")
odf.toPandas()

         attribute      iv
0     relationship  1.5348
1   marital-status  1.3390
2              age  1.0793
3       occupation  0.7772
4        education  0.7345
5    education-num  0.6984
6   hours-per-week  0.4499
7     capital-gain  0.3138
8              sex  0.3037
9        workclass  0.1625
10    capital-loss  0.0860
11  native-country  0.0780
12            race  0.0697
13          fnlwgt  0.0088
14          logfnl  0.0048
15           empty  0.0000

In [20]:
# Example 3 - selected columns
odf = IV_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', event_label=">50K")
odf.toPandas()

   attribute      iv
0        age  1.0793
1        sex  0.3037
2  workclass  0.1625
3       race  0.0697
4     fnlwgt  0.0088

In [21]:
# Example 4 - selected columns + encoding configs (bin method equal_range instead of default equal_frequency )
odf = IV_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', 
                    event_label=">50K", encoding_configs={'bin_method': 'equal_range', 
                                                          'bin_size': 10, 'monotonicity_check': 0})
odf.toPandas()

   attribute      iv
0        age  1.0436
1        sex  0.3037
2  workclass  0.1625
3       race  0.0697
4     fnlwgt  0.0016

In [22]:
# Example 5 - selected columns + encoding configs (bin_size 20 instead of default 10 )
odf = IV_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', 
                    event_label=">50K", encoding_configs={'bin_method': 'equal_frequency', 
                                                          'bin_size': 20, 'monotonicity_check': 0})
odf.toPandas()

   attribute      iv
0        age  1.2328
1        sex  0.3037
2  workclass  0.1625
3       race  0.0697
4     fnlwgt  0.0162

In [23]:
# Example 6 - selected columns + encoding configs (monotonicity check )
odf = IV_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', 
                    event_label=">50K", encoding_configs={'bin_method': 'equal_frequency', 
                                                          'bin_size': 10, 'monotonicity_check': 1})
odf.toPandas()

   attribute      iv
0        age  0.5814
1        sex  0.3037
2  workclass  0.1625
3       race  0.0697
4     fnlwgt  0.0088

# Information Gain (IG)
- API specification of function **IG_calculation** can be found <a href="../api_specification/anovos/data_analyzer/association_evaluator.html#anovos.data_analyzer.association_evaluator.IG_calculation">here</a>
- Supports only binary target variable

In [24]:
from anovos.data_analyzer.association_evaluator import IG_calculation

In [25]:
# Example 1 - with mandatory arguments (rest arguments have default values)
odf = IG_calculation(spark, df, label_col='income', event_label=">50K")
odf.toPandas()

         attribute      ig
0     relationship  0.1654
1   marital-status  0.1538
2              age  0.0939
3       occupation  0.0932
4    education-num  0.0883
5        education  0.0871
6   hours-per-week  0.0565
7     capital-gain  0.0429
8              sex  0.0372
9        workclass  0.0217
10    capital-loss  0.0119
11  native-country  0.0088
12            race  0.0061
13          logfnl  0.0052
14          fnlwgt  0.0011
15             ifa     NaN
16           empty     NaN

In [26]:
# Example 2 - 'all' columns (excluding drop_cols)
odf = IG_calculation(spark, idf = df, list_of_cols='all', drop_cols=['ifa'], label_col='income', event_label=">50K")
odf.toPandas()

         attribute      ig
0     relationship  0.1654
1   marital-status  0.1538
2              age  0.0939
3       occupation  0.0932
4    education-num  0.0883
5        education  0.0871
6   hours-per-week  0.0565
7     capital-gain  0.0429
8              sex  0.0372
9        workclass  0.0217
10    capital-loss  0.0119
11  native-country  0.0088
12            race  0.0061
13          logfnl  0.0052
14          fnlwgt  0.0011
15           empty     NaN

In [27]:
# Example 3 - selected columns
odf = IG_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', event_label=">50K")
odf.toPandas()

   attribute      ig
0        age  0.0939
1        sex  0.0372
2  workclass  0.0217
3       race  0.0061
4     fnlwgt  0.0011

In [28]:
# Example 4 - selected columns + encoding configs (bin method equal_range instead of default equal_frequency )
odf = IG_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', 
                    event_label=">50K", encoding_configs={'bin_method': 'equal_range', 
                                                          'bin_size': 10, 'monotonicity_check': 0})
odf.toPandas()

   attribute      ig
0        age  0.0917
1        sex  0.0372
2  workclass  0.0217
3       race  0.0061
4     fnlwgt  0.0002

In [29]:
# Example 5 - selected columns + encoding configs (bin_size 20 instead of default 10 )
odf = IG_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', 
                    event_label=">50K", encoding_configs={'bin_method': 'equal_frequency', 
                                                          'bin_size': 20, 'monotonicity_check': 0})
odf.toPandas()

   attribute      ig
0        age  0.0970
1        sex  0.0372
2  workclass  0.0217
3       race  0.0061
4     fnlwgt  0.0021

In [30]:
# Example 6 - selected columns + encoding configs (monotonicity check )
odf = IG_calculation(spark, idf = df, list_of_cols= ['age','sex','race','workclass','fnlwgt'], label_col='income', 
                    event_label=">50K", encoding_configs={'bin_method': 'equal_frequency', 
                                                          'bin_size': 10, 'monotonicity_check': 1})
odf.toPandas()

   attribute      ig
0        age  0.0682
1        sex  0.0372
2  workclass  0.0217
3       race  0.0061
4     fnlwgt  0.0011