# ANOVOS - Data Transformer
Following notebook shows the list of functions related to "data transformer" module provided under ANOVOS package and how it can be invoked accordingly.
- [Attribute Binning](#Attribute-Binning)
- [Monotonic Binning](#Monotonic-Binning)
- [Categorical Attribute to Numerical Attribute Conversion](#Categorical-Attribute-to-Numerical-Attribute-Conversion)
    - [Categorical to Numerical - Unsupervised](#Categorical-to-Numerical---Unsupervised)
    - [Categorical to Numerical - Supervised](#Categorical-to-Numerical---Supervised)
- [Attribute Rescaling](#Attribute-Rescaling)
    - [Z Standardization](#Z-Standardization)
    - [IQR Standardization](#IQR-Standardization)
    - [Normalization](#Normalization)
- [Missing Value Imputation](#Missing-Value-Imputation)
    - [Imputation MMM](#Imputation-MMM)
    - [Imputation Sklearn](#Imputation-Sklearn)
    - [Imputation Matrix Factorization](#Imputation-Matrix-Factorization)
    - [Auto Imputation](#Auto-Imputation)
- [Latent Features Generation](#Latent-Features-Generation)
    - [PCA Latent Features](#PCA-Latent-Features)
- [Feature Transformation](#Feature-Transformation)
- [Box Cox Transformation](#Box-Cox-Transformation)
- [Outlier Categories Treatment](#Outlier-Categories-Treatment)
- [Expression Parser](#Expression-Parser)

**Setting Spark Session**

In [2]:
from anovos.shared.spark import *

sc.setLogLevel("ERROR")
import warnings
warnings.filterwarnings('ignore')

**Input/Output Path**

In [3]:
inputPath = "../data/income_dataset/csv"
outputPath = "../output/income_dataset/data_transformer"

**Read Input Data**

In [4]:
from anovos.data_ingest.data_ingest import read_dataset
from pyspark.sql import functions as F
df = read_dataset(spark, file_path = inputPath, file_type = "csv",
                  file_configs = {"header": "True", "delimiter": "," , "inferSchema": "True"})
df = df.drop("dt_1", "dt_2")
df.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,UnitedStates,<=50K
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,UnitedStates,<=50K
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,UnitedStates,<=50K
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,UnitedStates,<=50K
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

# Attribute Binning
- API specification of function **attribute_binning** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only
- 2 binning options: Equal Range Binning (each bin is of equal size/width) and Equal Frequency Binning (each bin has equal no. of rows)

In [4]:
from anovos.data_transformer.transformers import attribute_binning

In [5]:
# Example 1 - Equal range binning + append transformed columns at the end
odf = attribute_binning(spark, idf=df, list_of_cols=["education-num", "hours-per-week"], method_type="equal_range", 
                        bin_size=5, output_mode="append", print_impact=True)

odf.toPandas().head(5)

+---------------------+-------------+
|attribute            |unique_values|
+---------------------+-------------+
|education-num_binned |5            |
|hours-per-week_binned|5            |
+---------------------+-------------+

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,education-num_binned,hours-per-week_binned
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,UnitedStates,<=50K,4.0,3.0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,UnitedStates,<=50K,4.0,1.0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,UnitedStates,<=50K,3.0,3.0
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,UnitedStates,<=50K,2.0,3.0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K,4.0,3.0

In [6]:
# Distinct values after binning
odf.select('hours-per-week_binned').distinct().orderBy('hours-per-week_binned').toPandas().head(10)

   hours-per-week_binned
0                    NaN
1                    1.0
2                    2.0
3                    3.0
4                    4.0
5                    5.0

In [7]:
# Example 2 - Equal frequency binning + replace original columns by transformed ones (default)
odf = attribute_binning(spark, df, list_of_cols=["education-num", "hours-per-week"], method_type="equal_frequency", 
                        bin_size=5, print_impact=True)

odf.toPandas().head(5)

+--------------+-------------+
|attribute     |unique_values|
+--------------+-------------+
|education-num |4            |
|hours-per-week|4            |
+--------------+-------------+

,ifa,age,workclass,fnlwgt,logfnl,empty,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,income,education-num,hours-per-week
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,UnitedStates,<=50K,4.0,2.0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,UnitedStates,<=50K,4.0,1.0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,UnitedStates,<=50K,1.0,2.0
3,4a,53.0,Private,234721.0,5.370552,None,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,UnitedStates,<=50K,1.0,2.0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,Cuba,<=50K,4.0,2.0

In [8]:
# Distinct values after binning
odf.select('hours-per-week').distinct().orderBy('hours-per-week').toPandas().head(10)

   hours-per-week
0             NaN
1             1.0
2             2.0
3             4.0
4             5.0

In [9]:
# Example 3 - Equal frequency binning + save binning model
odf = attribute_binning(spark, df, list_of_cols=["education-num", "hours-per-week"], method_type="equal_frequency", 
                        bin_size=5, pre_existing_model=False, model_path=outputPath + "/attribute_binning")

odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,income,education-num,hours-per-week
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,UnitedStates,<=50K,4.0,2.0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,UnitedStates,<=50K,4.0,1.0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,UnitedStates,<=50K,1.0,2.0
3,4a,53.0,Private,234721.0,5.370552,None,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,UnitedStates,<=50K,1.0,2.0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,Cuba,<=50K,4.0,2.0

In [10]:
# Example 4 - Equal frequency binning + use pre-saved model
odf = attribute_binning(spark, df, list_of_cols=["education-num", "hours-per-week"], 
                        pre_existing_model=True, model_path=outputPath + "/attribute_binning")
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,income,education-num,hours-per-week
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,UnitedStates,<=50K,4.0,2.0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,UnitedStates,<=50K,4.0,1.0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,UnitedStates,<=50K,1.0,2.0
3,4a,53.0,Private,234721.0,5.370552,None,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,UnitedStates,<=50K,1.0,2.0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,Cuba,<=50K,4.0,2.0

# Monotonic Binning
- API specification of function **monotonic_binning** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Bin size is computed dynamically

In [11]:
from anovos.data_transformer.transformers import monotonic_binning

In [12]:
# Example 1 - Equal Range Binning + append tranformed columns at the end
odf = monotonic_binning(spark, df, list_of_cols=["education-num", "hours-per-week"], label_col="income", 
                        event_label=">50K", bin_method="equal_range", output_mode="append")
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,education-num_binned,hours-per-week_binned
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,UnitedStates,<=50K,6.0,2.0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,UnitedStates,<=50K,6.0,1.0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,UnitedStates,<=50K,4.0,2.0
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,UnitedStates,<=50K,3.0,2.0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K,6.0,2.0

In [13]:
# Distinct values for hours-per-week after binning 
odf.select("hours-per-week_binned").distinct().orderBy('hours-per-week_binned').toPandas()

   hours-per-week_binned
0                    NaN
1                    1.0
2                    2.0
3                    3.0

In [14]:
# Example 2 - Equal Frequency Binning + replace original columns by transformed ones (default)
odf = monotonic_binning(spark, df, list_of_cols=["education-num", "hours-per-week"], label_col="income", 
                        event_label=">50K", bin_method="equal_frequency")
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,income,education-num,hours-per-week
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,UnitedStates,<=50K,12.0,2.0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,UnitedStates,<=50K,12.0,1.0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,UnitedStates,<=50K,3.0,2.0
3,4a,53.0,Private,234721.0,5.370552,None,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,UnitedStates,<=50K,2.0,2.0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,Cuba,<=50K,12.0,2.0

In [15]:
# Distinct values for hours-per-week after binning
odf.select("hours-per-week").distinct().orderBy('hours-per-week').toPandas()

   hours-per-week
0             NaN
1             1.0
2             2.0
3             6.0
4             7.0

# Categorical Attribute to Numerical Attribute Conversion

## Categorical to Numerical - Unsupervised
- API specification of function **cat_to_num_unsupervised** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports Label Encoding (default) and One hot encoding

In [5]:
from anovos.data_transformer.transformers import cat_to_num_unsupervised

In [6]:
# Example 1 - with mandatory arguments (Label Encoding)
odf = cat_to_num_unsupervised(spark, df)
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,15092,NaN,10.0,77516.0,4.889391,None,2.0,13.0,1.0,3.0,1.0,0.0,0.0,2174.0,0.0,40.0,42,0
1,22895,NaN,1.0,83311.0,4.920702,None,2.0,13.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,42,0
2,28742,38.0,0.0,215646.0,5.333741,None,0.0,9.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,40.0,42,0
3,4124,53.0,0.0,234721.0,5.370552,None,5.0,7.0,0.0,9.0,0.0,1.0,0.0,0.0,0.0,40.0,42,0
4,11005,NaN,0.0,338409.0,5.529442,None,2.0,13.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,40.0,10,0

In [7]:
# Example 2 - 'all' columns (excluding drop_cols) + print impact
odf = cat_to_num_unsupervised(spark, df, list_of_cols='all', drop_cols=['ifa'], print_impact=True)
odf.toPandas().head(5)

Before

+-------+------+-----+-----------+-------+-----------+-----+------------+-------------+--------------+----------------+------------+-------+-----+------------+------------+--------------+--------------+------+
|summary|ifa   |age  |workclass  |fnlwgt |logfnl     |empty|education   |education-num|marital-status|occupation      |relationship|race   |sex  |capital-gain|capital-loss|hours-per-week|native-country|income|
+-------+------+-----+-----------+-------+-----------+-----+------------+-------------+--------------+----------------+------------+-------+-----+------------+------------+--------------+--------------+------+
|count  |32561 |32500|32558      |32546  |12168      |0    |32040       |32530        |32135         |32549           |32557       |32247  |32557|32548       |32549       |32452         |32561         |32561 |
|min    |10000a|17   | Private   |12285  |4.283617786|null |10th        |1            |?             |?               |*           |*      |?    |0           |0           |1             |*             |<=50K |
|max    |9a    |85   |Without-pay|1484705|6.088696941|null |Some-college|16           |Widowed       |Transport-moving|Wife        |Whitess|Male |99999       |4356        |94            |Yugoslavia    |>50K  |
+-------+------+-----+-----------+-------+-----------+-----+------------+-------------+--------------+----------------+------------+-------+-----+------------+------------+--------------+--------------+------+

After

+-------+------+-----+---------+-------+-----------+-----+---------+-------------+--------------+----------+------------+-----+-----+------------+------------+--------------+--------------+------+
|summary|ifa   |age  |workclass|fnlwgt |logfnl     |empty|education|education-num|marital-status|occupation|relationship|race |sex  |capital-gain|capital-loss|hours-per-week|native-country|income|
+-------+------+-----+---------+-------+-----------+-----+---------+-------------+--------------+----------+------------+-----+-----+------------+------------+--------------+--------------+------+
|count  |32561 |32500|32558    |32546  |12168      |0    |32040    |32530        |32135         |32549     |32557       |32247|32557|32548       |32549       |32452         |32561         |32561 |
|min    |10000a|17   |0        |12285  |4.283617786|null |0        |1            |0             |0         |0           |0    |0    |0           |0           |1             |0             |0     |
|max    |9a    |85   |10       |1484705|6.088696941|null |15       |16           |6             |14        |7           |8    |2    |99999       |4356        |94            |43            |1     |
+-------+------+-----+---------+-------+-----------+-----+---------+-------------+--------------+----------+------------+-----+-----+------------+------------+--------------+--------------+------+

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1a,NaN,10.0,77516.0,4.889391,None,2.0,13.0,1.0,3.0,1.0,0.0,0.0,2174.0,0.0,40.0,42,0
1,2a,NaN,1.0,83311.0,4.920702,None,2.0,13.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,42,0
2,3a,38.0,0.0,215646.0,5.333741,None,0.0,9.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,40.0,42,0
3,4a,53.0,0.0,234721.0,5.370552,None,5.0,7.0,0.0,9.0,0.0,1.0,0.0,0.0,0.0,40.0,42,0
4,5a,NaN,0.0,338409.0,5.529442,None,2.0,13.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,40.0,10,0

In [19]:
# Example 3 - selected categorical columns + assign unique integers based on alphabetical order (asc)
odf = cat_to_num_unsupervised(spark, df, list_of_cols='all', drop_cols=['ifa'], index_order='alphabetAsc')
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1a,NaN,1.0,77516.0,4.889391,None,9.0,13.0,4.0,1.0,3.0,6.0,2.0,2174.0,0.0,40.0,41,0
1,2a,NaN,8.0,83311.0,4.920702,None,9.0,13.0,3.0,4.0,2.0,6.0,2.0,0.0,0.0,13.0,41,0
2,3a,38.0,6.0,215646.0,5.333741,None,11.0,9.0,1.0,6.0,3.0,6.0,2.0,0.0,0.0,40.0,41,0
3,4a,53.0,6.0,234721.0,5.370552,None,1.0,7.0,3.0,6.0,2.0,4.0,2.0,0.0,0.0,40.0,41,0
4,5a,NaN,6.0,338409.0,5.529442,None,9.0,13.0,3.0,10.0,7.0,4.0,1.0,0.0,0.0,40.0,6,0

In [13]:
# Example 4 - selected categorical columns + one hot encoding + print impact
odf = cat_to_num_unsupervised(spark, df, list_of_cols=['race', 'sex'], 
                              method_type="onehot_encoding", print_impact=True)
odf.toPandas().head(5)

Before
root
 |-- ifa: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- logfnl: double (nullable = true)
 |-- empty: string (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

After
root
 |-- ifa: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- logfnl: double (nullable = true)
 |-- empty: string (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)
 |-- race_0: integer (nullable = true)
 |-- race_1: integer (nullable = true)
 |-- race_2: integer (nullable = true)
 |-- race_3: integer (nullable = true)
 |-- race_4: integer (nullable = true)
 |-- race_5: integer (nullable = true)
 |-- race_6: integer (nullable = true)
 |-- race_7: integer (nullable = true)
 |-- race_8: integer (nullable = true)
 |-- race_9: integer (nullable = true)
 |-- sex_0: integer (nullable = true)
 |-- sex_1: integer (nullable = true)
 |-- sex_2: integer (nullable = true)
 |-- sex_3: integer (nullable = true)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,...,race_4,race_5,race_6,race_7,race_8,race_9,sex_0,sex_1,sex_2,sex_3
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,...,0,0,0,0,0,0,1,0,0,0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,...,0,0,0,0,0,0,1,0,0,0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,...,0,0,0,0,0,0,1,0,0,0
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,...,0,0,0,0,0,0,1,0,0,0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,...,0,0,0,0,0,0,0,1,0,0

In [14]:
# Example 5 - one hot encoding + save model
odf = cat_to_num_unsupervised(spark, df, list_of_cols=['race', 'sex'], method_type="onehot_encoding", 
                              pre_existing_model=False, model_path=outputPath)
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,...,race_4,race_5,race_6,race_7,race_8,race_9,sex_0,sex_1,sex_2,sex_3
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,...,0,0,0,0,0,0,1,0,0,0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,...,0,0,0,0,0,0,1,0,0,0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,...,0,0,0,0,0,0,1,0,0,0
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,...,0,0,0,0,0,0,1,0,0,0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,...,0,0,0,0,0,0,0,1,0,0

In [15]:
# Example 6 - one hot encoding + use pre-saved model
odf = cat_to_num_unsupervised(spark, df, list_of_cols=['race', 'sex'], method_type="onehot_encoding", 
                              pre_existing_model=True, model_path=outputPath)
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,...,race_4,race_5,race_6,race_7,race_8,race_9,sex_0,sex_1,sex_2,sex_3
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,...,0,0,0,0,0,0,1,0,0,0
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,...,0,0,0,0,0,0,1,0,0,0
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,...,0,0,0,0,0,0,1,0,0,0
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,...,0,0,0,0,0,0,1,0,0,0
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,...,0,0,0,0,0,0,0,1,0,0

## Categorical to Numerical - Supervised
- API specification of function **cat_to_num_supervised**  can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>

In [23]:
from anovos.data_transformer.transformers import cat_to_num_supervised

In [24]:
# Example 1 - 'all' columns (excluding drop_cols) + print impact 
odf = cat_to_num_supervised(spark, idf=df, list_of_cols="all", drop_cols="ifa", 
                            label_col="income", event_label=">50K", print_impact=True)

Before:

+-------+--------------+------------+-----+-----------+-----+--------------+----------------+-------+------------+
|summary|marital-status|education   |sex  |workclass  |empty|native-country|occupation      |race   |relationship|
+-------+--------------+------------+-----+-----------+-----+--------------+----------------+-------+------------+
|count  |32135         |32040       |32557|32558      |0    |32561         |32549           |32247  |32557       |
|min    |?             |10th        |?    | Private   |null |*             |?               |*      |*           |
|max    |Widowed       |Some-college|Male |Without-pay|null |Yugoslavia    |Transport-moving|Whitess|Wife        |
+-------+--------------+------------+-----+-----------+-----+--------------+----------------+-------+------------+

After:
+-------+--------------+---------+------+---------+------+--------------+----------+-----+------------+
|summary|marital-status|education|sex   |workclass|empty |native-country|occupation|race |relationship|
+-------+--------------+---------+------+---------+------+--------------+----------+-----+------------+
|count  |55795         |55626    |56535 |56537    |56542 |56542         |56524     |56021|56535       |
|min    |0.0458        |0.0      |0.1094|0.0      |0.2408|0.0           |0.0067    |0.0  |0.0         |
|max    |0.4471        |0.7409   |0.3057|0.5578   |0.2408|0.4186        |0.4844    |1.0  |0.4748      |
+-------+--------------+---------+------+---------+------+--------------+----------+-----+------------+

In [25]:
# Example 2 - selected cateogrical columns + append generated columns + print impact
odf = cat_to_num_supervised(spark, idf=df, list_of_cols=['relationship', 'marital-status'],
                            label_col="income", event_label=">50K", output_mode="append", print_impact=True)

Before:
+-------+------------+--------------+
|summary|relationship|marital-status|
+-------+------------+--------------+
|count  |32557       |32135         |
|min    |*           |?             |
|max    |Wife        |Widowed       |
+-------+------------+--------------+

After:
+-------+--------------------+----------------------+
|summary|relationship_encoded|marital-status_encoded|
+-------+--------------------+----------------------+
|count  |32557               |32135                 |
|min    |0.0                 |0.0458                |
|max    |0.4748              |0.4471                |
+-------+--------------------+----------------------+

In [26]:
# Example 3 - selected categorical columns + append generated column + save model
odf = cat_to_num_supervised(spark, idf=df, list_of_cols=['relationship', 'marital-status', 'workclass'], 
                            label_col="income", event_label=">50K", model_path=outputPath, output_mode="append")

In [27]:
# Example 4 - selected categorical columns + use pre-saved model
odf = cat_to_num_supervised(spark, idf=df, list_of_cols=['relationship', 'marital-status'], 
                            label_col="income", event_label=">50K", pre_existing_model=True, 
                            model_path=outputPath, print_impact=True)

Before:
+-------+------------+--------------+
|summary|relationship|marital-status|
+-------+------------+--------------+
|count  |32557       |32135         |
|min    |*           |?             |
|max    |Wife        |Widowed       |
+-------+------------+--------------+

After:
+-------+------------+--------------+
|summary|relationship|marital-status|
+-------+------------+--------------+
|count  |32557       |32135         |
|min    |0.0         |0.0458        |
|max    |0.4748      |0.4471        |
+-------+------------+--------------+

# Attribute Rescaling

## Z Standardization
- API specification of function **z_standardization** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only

In [28]:
from anovos.data_transformer.transformers import z_standardization

In [29]:
# Example 1 - with mandatory arguments
odf = z_standardization(spark, idf=df)

In [30]:
# Example 2 - selected columns + print impact
odf = z_standardization(spark, idf=df, list_of_cols=['fnlwgt', 'age', 'hours-per-week'], print_impact=True)

Before:
+-------+------------------+------------------+------------------+
|summary|hours-per-week    |age               |fnlwgt            |
+-------+------------------+------------------+------------------+
|count  |32452             |32500             |32546             |
|mean   |40.24972266732405 |38.506492307692305|189781.83180728814|
|stddev |11.914337669272212|13.508497735339255|105563.06445057027|
|min    |1                 |17                |12285             |
|max    |94                |85                |1484705           |
+-------+------------------+------------------+------------------+

After:
+-------+-----------------------+----------------------+---------------------+
|summary|hours-per-week         |age                   |fnlwgt               |
+-------+-----------------------+----------------------+---------------------+
|count  |32452                  |32500                 |32546                |
|mean   |-1.2156752033466475E-15|1.4483798775717543E-16|9.161574317076701E-17|
|stddev |1.0000000000000044     |1.0000000000000004    |0.999999999999997    |
|min    |-3.2943268653994444    |-1.5920713560494362   |-1.6814293212414342  |
|max    |4.511394491638518      |3.441797052730531     |12.266820548763603   |
+-------+-----------------------+----------------------+---------------------+

In [31]:
# Example 3 - 'all' columns + save model + print impact
odf = z_standardization(spark, idf=df, list_of_cols='all', model_path=outputPath)

In [32]:
# Example 4 - selected columns + append new columns + use pre-saved model + print impact
odf = z_standardization(spark, idf=df, list_of_cols=['fnlwgt', 'age', 'hours-per-week'], 
                        pre_existing_model=True, model_path=outputPath, output_mode='append', print_impact=True)

Before:
+-------+------------------+------------------+------------------+
|summary|hours-per-week    |age               |fnlwgt            |
+-------+------------------+------------------+------------------+
|count  |32452             |32500             |32546             |
|mean   |40.24972266732405 |38.506492307692305|189781.83180728814|
|stddev |11.914337669272212|13.508497735339255|105563.06445057027|
|min    |1                 |17                |12285             |
|max    |94                |85                |1484705           |
+-------+------------------+------------------+------------------+

After:
+-------+-----------------------+----------------------+---------------------+
|summary|hours-per-week_scaled  |age_scaled            |fnlwgt_scaled        |
+-------+-----------------------+----------------------+---------------------+
|count  |32452                  |32500                 |32546                |
|mean   |-1.2156752033466475E-15|1.4483798775717543E-16|9.161574317076701E-17|
|stddev |1.0000000000000044     |1.0000000000000004    |0.999999999999997    |
|min    |-3.2943268653994444    |-1.5920713560494362   |-1.6814293212414342  |
|max    |4.511394491638518      |3.441797052730531     |12.266820548763603   |
+-------+-----------------------+----------------------+---------------------+

## IQR Standardization
- API specification of function **IQR_standardization** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only

In [33]:
from anovos.data_transformer.transformers import IQR_standardization

In [34]:
# Example 1 - with mandatory arguments
odf = IQR_standardization(spark, idf=df)

/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/anovos/data_transformer/transformers.py:1085: UserWarning: The following column(s) are excluded from standardization because the 75th and 25th percentiles are the same:['capital-loss', 'capital-gain']
  + str(excluded_cols)

In [35]:
# Example 2 - selected columns + print impact
odf = IQR_standardization(spark, idf=df, list_of_cols=['fnlwgt', 'age', 'hours-per-week'], print_impact=True)

Before:
+-------+------------------+------------------+------------------+
|summary|hours-per-week    |age               |fnlwgt            |
+-------+------------------+------------------+------------------+
|count  |32452             |32500             |32546             |
|mean   |40.24972266732405 |38.506492307692305|189781.83180728814|
|stddev |11.914337669272212|13.508497735339255|105563.06445057027|
|min    |1                 |17                |12285             |
|max    |94                |85                |1484705           |
+-------+------------------+------------------+------------------+

After:
+-------+-------------------+-------------------+-------------------+
|summary|hours-per-week     |age                |fnlwgt             |
+-------+-------------------+-------------------+-------------------+
|count  |32452              |32500              |32546              |
|mean   |0.04994453346480964|0.07928906882590958|0.10904578788801947|
|stddev |2.3828675338544496 |0.7109735650178555 |0.9056931444431381 |
|min    |-7.8               |-1.0526315789473684|-1.4138132212260306|
|max    |10.8               |2.526315789473684  |11.21902106301746  |
+-------+-------------------+-------------------+-------------------+

In [36]:
# Example 3 - 'all' columns + save model + print impact
odf = IQR_standardization(spark, idf=df, list_of_cols='all', model_path=outputPath)

In [37]:
# Example 4 - selected columns + append new columns + use pre-saved model + print impact
odf = IQR_standardization(spark, idf=df, list_of_cols=['fnlwgt', 'age', 'hours-per-week'], 
                          pre_existing_model=True, model_path=outputPath, output_mode='append', print_impact=True)

Before:
+-------+------------------+------------------+------------------+
|summary|hours-per-week    |age               |fnlwgt            |
+-------+------------------+------------------+------------------+
|count  |32452             |32500             |32546             |
|mean   |40.24972266732405 |38.506492307692305|189781.83180728814|
|stddev |11.914337669272212|13.508497735339255|105563.06445057027|
|min    |1                 |17                |12285             |
|max    |94                |85                |1484705           |
+-------+------------------+------------------+------------------+

After:
+-------+---------------------+-------------------+-------------------+
|summary|hours-per-week_scaled|age_scaled         |fnlwgt_scaled      |
+-------+---------------------+-------------------+-------------------+
|count  |32452                |32500              |32546              |
|mean   |0.04994453346480964  |0.07928906882590958|0.10904578788801947|
|stddev |2.3828675338544496   |0.7109735650178555 |0.9056931444431381 |
|min    |-7.8                 |-1.0526315789473684|-1.4138132212260306|
|max    |10.8                 |2.526315789473684  |11.21902106301746  |
+-------+---------------------+-------------------+-------------------+

## Normalization
- API specification of function **normalization** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only

In [38]:
from anovos.data_transformer.transformers import normalization

In [39]:
# Example 1 - with mandatory arguments
odf = normalization(idf=df)

In [40]:
# Example 2 - selected columns + print impact
odf = normalization(idf=df, list_of_cols=['fnlwgt', 'age', 'hours-per-week'], print_impact=True)

Before:
+-------+------------------+------------------+------------------+
|summary|hours-per-week    |age               |fnlwgt            |
+-------+------------------+------------------+------------------+
|count  |32452             |32500             |32546             |
|mean   |40.24972266732405 |38.506492307692305|189781.83180728814|
|stddev |11.914337669272212|13.508497735339255|105563.06445057027|
|min    |1                 |17                |12285             |
|max    |94                |85                |1484705           |
+-------+------------------+------------------+------------------+

After:

[Stage 1063:>                                                       (0 + 1) / 1]

+-------+-------------------+-------------------+-------------------+
|summary|hours-per-week     |age                |fnlwgt             |
+-------+-------------------+-------------------+-------------------+
|count  |32452              |32500              |32546              |
|mean   |0.42204001986123296|0.3162719473860012 |0.12054769144314768|
|stddev |0.1281111549974956 |0.19865437746694356|0.07169358238758683|
|min    |0.0                |0.0                |0.0                |
|max    |1.0                |1.0                |1.0                |
+-------+-------------------+-------------------+-------------------+

In [41]:
# Example 3 - 'all' columns + save model + print impact
odf = normalization(idf=df, list_of_cols='all', model_path=outputPath)

In [42]:
# Example 4 - selected columns + append new columns + use pre-saved model + print impact
odf = normalization(idf=df, list_of_cols=['fnlwgt', 'age', 'hours-per-week'], 
                    pre_existing_model=True, model_path=outputPath, output_mode='append', print_impact=True)

Before:
+-------+------------------+------------------+------------------+
|summary|hours-per-week    |age               |fnlwgt            |
+-------+------------------+------------------+------------------+
|count  |32452             |32500             |32546             |
|mean   |40.24972266732405 |38.506492307692305|189781.83180728814|
|stddev |11.914337669272212|13.508497735339255|105563.06445057027|
|min    |1                 |17                |12285             |
|max    |94                |85                |1484705           |
+-------+------------------+------------------+------------------+

After:

[Stage 1076:>                                                       (0 + 1) / 1]

+-------+---------------------+---------------------+------------------+
|summary|hours-per-week_scaled|age_scaled           |fnlwgt_scaled     |
+-------+---------------------+---------------------+------------------+
|count  |32452                |32500                |32546             |
|mean   |2.6166481363438883   |0.008839874255685852 |1.8978372962177825|
|stddev |0.7942891880106049   |0.0031011243650607176|1.0556412016446013|
|min    |0.0                  |0.003902663          |0.12285123        |
|max    |6.2                  |0.019513315          |14.8471985        |
+-------+---------------------+---------------------+------------------+

# Missing Value Imputation

## Imputation MMM
- API specification of function **imputation_MMM** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- 2 options for numerical  attributes: median and mean
- Mode is only option for categorical attributes

In [43]:
from anovos.data_transformer.transformers import imputation_MMM

In [44]:
# Example 1 - with mandatory arguments + print impact
odf = imputation_MMM(spark, df, print_impact=True)

+--------------+-------------------+------------------+
|attribute     |missingCount_before|missingCount_after|
+--------------+-------------------+------------------+
|education-num |31                 |0                 |
|workclass     |3                  |0                 |
|education     |521                |0                 |
|race          |314                |0                 |
|relationship  |4                  |0                 |
|capital-gain  |13                 |0                 |
|capital-loss  |12                 |0                 |
|age           |61                 |0                 |
|hours-per-week|109                |0                 |
|fnlwgt        |15                 |0                 |
|marital-status|426                |0                 |
|sex           |4                  |0                 |
|occupation    |12                 |0                 |
|logfnl        |20393              |0                 |
|empty         |32561              |0                 |
+--------------+-------------------+------------------+

In [45]:
# Example 2 - use mean for numerical columns + append transformed columns at the end
odf = imputation_MMM(spark, df, list_of_cols='all', method_type="mean", output_mode="append")
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,...,logfnl_imputed,hours-per-week_imputed,education_imputed,marital-status_imputed,sex_imputed,workclass_imputed,empty_imputed,occupation_imputed,race_imputed,relationship_imputed
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,...,4.889391,40,Bachelors,Never-married,Male,State-gov,None,Adm-clerical,White,Not-in-family
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,...,4.920702,13,Bachelors,Married-civ-spouse,Male,Self-emp-not-inc,None,Exec-managerial,White,Husband
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,...,5.333741,40,HS-grad,Divorced,Male,Private,None,Handlers-cleaners,White,Not-in-family
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,...,5.370552,40,11th,Married-civ-spouse,Male,Private,None,Handlers-cleaners,Black,Husband
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,...,5.529442,40,Bachelors,Married-civ-spouse,Female,Private,None,Prof-specialty,Black,Wife

In [46]:
odf.select('education-num', 'education-num_imputed').where(F.col("education-num").isNull()).distinct().toPandas().head(5)

  education-num  education-num_imputed
0          None                     10

In [47]:
# Example 3 - save model
odf = imputation_MMM(spark, df, pre_existing_model=False, model_path=outputPath)

In [48]:
# Example 4 - use pre-saved model
odf = imputation_MMM(spark, df, pre_existing_model=True, model_path=outputPath)
odf.toPandas().head(5)

,ifa,native-country,income,education-num,age,fnlwgt,capital-loss,capital-gain,logfnl,hours-per-week,education,marital-status,sex,workclass,empty,occupation,race,relationship
0,1a,UnitedStates,<=50K,13,37,77516,0,2174,4.889391,40,Bachelors,Never-married,Male,State-gov,None,Adm-clerical,White,Not-in-family
1,2a,UnitedStates,<=50K,13,37,83311,0,0,4.920702,13,Bachelors,Married-civ-spouse,Male,Self-emp-not-inc,None,Exec-managerial,White,Husband
2,3a,UnitedStates,<=50K,9,38,215646,0,0,5.333741,40,HS-grad,Divorced,Male,Private,None,Handlers-cleaners,White,Not-in-family
3,4a,UnitedStates,<=50K,7,53,234721,0,0,5.370552,40,11th,Married-civ-spouse,Male,Private,None,Handlers-cleaners,Black,Husband
4,5a,Cuba,<=50K,13,37,338409,0,0,5.529442,40,Bachelors,Married-civ-spouse,Female,Private,None,Prof-specialty,Black,Wife

In [49]:
# Example 5 - selected columns + use pre-saved stats
from anovos.data_analyzer.stats_generator import measures_of_counts, measures_of_centralTendency
from anovos.data_ingest.data_ingest import write_dataset
missing = write_dataset(measures_of_counts(spark, df),outputPath+"/missing","parquet", file_configs={"mode":"overwrite"})
mode = write_dataset(measures_of_centralTendency(spark, df),outputPath+"/mode","parquet", file_configs={"mode":"overwrite"})

odf = imputation_MMM(spark, df, list_of_cols=['marital-status', 'sex', 'occupation', 'age'], 
                     stats_missing={"file_path":outputPath+"/missing", "file_type": "parquet"}, 
                     stats_mode={"file_path":outputPath+"/mode", "file_type": "parquet"}, print_impact=True)
odf.toPandas().head(5)

+--------------+-------------------+------------------+
|attribute     |missingCount_before|missingCount_after|
+--------------+-------------------+------------------+
|age           |61                 |0                 |
|marital-status|426                |0                 |
|occupation    |12                 |0                 |
|sex           |4                  |0                 |
+--------------+-------------------+------------------+

,ifa,workclass,fnlwgt,logfnl,empty,education,education-num,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,income,age,marital-status,sex,occupation
0,1a,State-gov,77516.0,4.889391,None,Bachelors,13.0,Not-in-family,White,2174.0,0.0,40.0,UnitedStates,<=50K,37,Never-married,Male,Adm-clerical
1,2a,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Husband,White,0.0,0.0,13.0,UnitedStates,<=50K,37,Married-civ-spouse,Male,Exec-managerial
2,3a,Private,215646.0,5.333741,None,HS-grad,9.0,Not-in-family,White,0.0,0.0,40.0,UnitedStates,<=50K,38,Divorced,Male,Handlers-cleaners
3,4a,Private,234721.0,5.370552,None,11th,7.0,Husband,Black,0.0,0.0,40.0,UnitedStates,<=50K,53,Married-civ-spouse,Male,Handlers-cleaners
4,5a,Private,338409.0,5.529442,None,Bachelors,13.0,Wife,Black,0.0,0.0,40.0,Cuba,<=50K,37,Married-civ-spouse,Female,Prof-specialty

## Imputation Sklearn
- API specification of function **imputation_sklearn** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only
- 2 options supported: KNN and regression

In [50]:
from anovos.data_transformer.transformers import imputation_sklearn

In [51]:
df = df.drop('empty')

In [52]:
print(df.count())
print(df.dropna().count())

32561
11641

In [53]:
# Example 1 - with mandatory arguments + KNN method  + print impact
odf = imputation_sklearn(spark, idf=df, print_impact=True)

[Stage 1338:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)

+--------------+-------------------+------------------+
|attribute     |missingCount_before|missingCount_after|
+--------------+-------------------+------------------+
|education-num |31                 |0                 |
|capital-gain  |13                 |0                 |
|capital-loss  |12                 |0                 |
|age           |61                 |0                 |
|hours-per-week|109                |0                 |
|fnlwgt        |15                 |0                 |
|logfnl        |20393              |0                 |
+--------------+-------------------+------------------+

In [54]:
# Example 2 - selected columns + regression method + print impact
odf = imputation_sklearn(spark, idf=df, list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'], 
                         method_type='regression', print_impact=True)

[Stage 1377:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)

+-------------+-------------------+------------------+
|attribute    |missingCount_before|missingCount_after|
+-------------+-------------------+------------------+
|education-num|31                 |0                 |
|capital-gain |13                 |0                 |
|capital-loss |12                 |0                 |
|age          |61                 |0                 |
+-------------+-------------------+------------------+

In [55]:
# Example 3 - KNN method + smaller sample_size + save model
odf = imputation_sklearn(spark, idf=df, sample_size=1000, model_path=outputPath+'/KNN')

[Stage 1418:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)

In [56]:
from anovos.data_analyzer.stats_generator import measures_of_percentiles, measures_of_counts
x = measures_of_counts(spark, odf)

# Visualization
x.orderBy('missing_count').toPandas()

,attribute,fill_count,fill_pct,missing_count,missing_pct,nonzero_count,nonzero_pct
0,ifa,32561,1.0000,0,0.0000,NaN,NaN
1,education-num,32561,1.0000,0,0.0000,32561.0,1.0000
2,capital-gain,32561,1.0000,0,0.0000,2715.0,0.0834
3,capital-loss,32561,1.0000,0,0.0000,1520.0,0.0467
4,income,32561,1.0000,0,0.0000,NaN,NaN
5,age,32561,1.0000,0,0.0000,32561.0,1.0000
6,hours-per-week,32561,1.0000,0,0.0000,32561.0,1.0000
7,fnlwgt,32561,1.0000,0,0.0000,32561.0,1.0000
8,native-country,32561,1.0000,0,0.0000,NaN,NaN
9,logfnl,32561,1.0000,0,0.0000,32561.0,1.0000
10,workclass,32558,0.9999,3,0.0001,NaN,NaN
11,relationship,32557,0.9999,4,0.0001,NaN,NaN
12,sex,32557,0.9999,4,0.0001,NaN,NaN
13,occupation,32549,0.9996,12,0.0004,NaN,NaN
14,race,32247,0.9904,314,0.0096,NaN,NaN
15,marital-status,32135,0.9869,426,0.0131,NaN,NaN
16,education,32040,0.9840,521,0.0160,NaN,NaN

In [57]:
# Example 4 - KNN method + pre-saved model + append new columns + print impact
odf = imputation_sklearn(spark, idf=df, pre_existing_model=True, model_path=outputPath+'/KNN', 
                         output_mode='append', print_impact=True)

[Stage 1454:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)

+--------------+-------------------+----------------------+-------------+
|attribute     |missingCount_before|attribute_after       |missing_count|
+--------------+-------------------+----------------------+-------------+
|capital-gain  |13                 |capital-gain_imputed  |0            |
|capital-loss  |12                 |capital-loss_imputed  |0            |
|fnlwgt        |15                 |fnlwgt_imputed        |0            |
|hours-per-week|109                |hours-per-week_imputed|0            |
|age           |61                 |age_imputed           |0            |
|education-num |31                 |education-num_imputed |0            |
|logfnl        |20393              |logfnl_imputed        |0            |
+--------------+-------------------+----------------------+-------------+

In [58]:
# Example 5 - regression method + smaller sample_size + save model
odf = imputation_sklearn(spark, idf=df, sample_size=1000, model_path=outputPath+'/regression')

/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
[Stage 1493:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)

In [59]:
# Example 6 - regression method + pre-saved model + append new columns + print impact
odf = imputation_sklearn(spark, idf=df, pre_existing_model=True, model_path=outputPath+'/regression', 
                         output_mode='append', print_impact=True)

[Stage 1508:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)

+--------------+-------------------+----------------------+-------------+
|attribute     |missingCount_before|attribute_after       |missing_count|
+--------------+-------------------+----------------------+-------------+
|capital-gain  |13                 |capital-gain_imputed  |0            |
|capital-loss  |12                 |capital-loss_imputed  |0            |
|fnlwgt        |15                 |fnlwgt_imputed        |0            |
|hours-per-week|109                |hours-per-week_imputed|0            |
|age           |61                 |age_imputed           |0            |
|education-num |31                 |education-num_imputed |0            |
|logfnl        |20393              |logfnl_imputed        |0            |
+--------------+-------------------+----------------------+-------------+

In [60]:
# Example 7 - use pre-saved stats
from anovos.data_analyzer.stats_generator import measures_of_counts
from anovos.data_ingest.data_ingest import write_dataset

write_dataset(measures_of_counts(spark, df), outputPath+"/missing","parquet", file_configs={"mode":"overwrite"})

odf = imputation_sklearn(spark, df, stats_missing={"file_path":outputPath+"/missing", "file_type": "parquet"}, 
                         print_impact=True)

[Stage 1553:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)

+--------------+-------------------+------------------+
|attribute     |missingCount_before|missingCount_after|
+--------------+-------------------+------------------+
|hours-per-week|109                |0                 |
|education-num |31                 |0                 |
|capital-gain  |13                 |0                 |
|capital-loss  |12                 |0                 |
|fnlwgt        |15                 |0                 |
|logfnl        |20393              |0                 |
|age           |61                 |0                 |
+--------------+-------------------+------------------+

## Imputation Matrix Factorization
- API specification of function **imputation_matrixFactorization** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only

In [61]:
from anovos.data_transformer.transformers import imputation_matrixFactorization

In [62]:
# Example 1 - all columns with missing values + print impact
odf = imputation_matrixFactorization(spark, idf=df, id_col='ifa', print_impact=True)

+--------------+-------------------+------------------+
|attribute     |missingCount_before|missingCount_after|
+--------------+-------------------+------------------+
|education-num |31                 |0                 |
|capital-gain  |13                 |0                 |
|capital-loss  |12                 |0                 |
|age           |61                 |0                 |
|hours-per-week|109                |0                 |
|fnlwgt        |15                 |0                 |
|logfnl        |20393              |0                 |
+--------------+-------------------+------------------+

In [63]:
# Example 2 - selected columns + append new columns + print impact
odf = imputation_matrixFactorization(spark, idf=df, 
                                     list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'], 
                                     id_col='ifa', print_impact=True)

+-------------+-------------------+------------------+
|attribute    |missingCount_before|missingCount_after|
+-------------+-------------------+------------------+
|education-num|31                 |0                 |
|capital-gain |13                 |0                 |
|capital-loss |12                 |0                 |
|age          |61                 |0                 |
+-------------+-------------------+------------------+

In [64]:
# Example 3 - use pre-saved stats
from anovos.data_analyzer.stats_generator import measures_of_counts
from anovos.data_ingest.data_ingest import write_dataset

write_dataset(measures_of_counts(spark, df), outputPath+"/missing","parquet", file_configs={"mode":"overwrite"})

odf = imputation_matrixFactorization(spark, df, 
                                     stats_missing={"file_path":outputPath+"/missing", "file_type": "parquet"}, 
                                     print_impact=True)

+--------------+-------------------+------------------+
|attribute     |missingCount_before|missingCount_after|
+--------------+-------------------+------------------+
|hours-per-week|109                |0                 |
|education-num |31                 |0                 |
|capital-gain  |13                 |0                 |
|capital-loss  |12                 |0                 |
|logfnl        |20393              |0                 |
|fnlwgt        |15                 |0                 |
|age           |61                 |0                 |
+--------------+-------------------+------------------+

## Auto Imputation
- API specification of function **auto_imputation** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>

In [67]:
from anovos.data_transformer.transformers import auto_imputation

In [66]:
# Example 1 - all columns with missing values + print impact
auto_imputation(spark, df, id_col='ifa', print_impact=True)

[Stage 2685:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
- _4
- ...
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num
- fnlwgt
- ...

  warnings.warn(message, FutureWarning)
[Stage 3783:===============================================>   (186 + 12) / 200]

[('MMM-mean', 3.527763864712216), ('MMM-median', 3.92952606466687), ('KNN', 3.9519728198861728), ('regression', 3.498162349389901), ('matrix_factorization', 5.876657881935616)]
Best Imputation Method:  regression

[Stage 3784:===========================================>       (172 + 12) / 200]

DataFrame[ifa: string, age: float, fnlwgt: float, logfnl: float, education-num: float, capital-gain: float, capital-loss: float, hours-per-week: float, native-country: string, income: string, education: string, sex: string, marital-status: string, workclass: string, occupation: string, race: string, relationship: string, index: int]

In [69]:
# Example 2 - selected columns + customized null_pct + print impact
odf = auto_imputation(spark, df, list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'],
                                   id_col='ifa', null_pct=0.5, print_impact=True)

/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/anovos/data_transformer/transformers.py:2154: UserWarning: Following columns have all null values: empty
  warnings.warn("Following columns have all null values: " + ",".join(empty_cols))
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
[Stage 802:>                                                        (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
[Stage 802:>                                                        (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/impute/_iterative.py:701: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  ConvergenceWarning,
[Stage 810:>                                                        (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/anovos/data_transformer/transformers.py:1981: UserWarning: The returned odf may not be fully imputed because values for all list_of_cols are null for some IDs
  "The returned odf may not be fully imputed because values for all list_of_cols are null for some IDs"
[Stage 1502:==========================================>        (167 + 12) / 200]

[('MMM-mean', 8.45557875153865), ('MMM-median', 16.711628363631945), ('KNN', 8.863458483329977), ('regression', 9.384259370085479), ('matrix_factorization', 11.739216950649823)]
Best Imputation Method:  MMM-mean

In [70]:
# Example 3 - selected columns + use pre-saved stats + print impact
from anovos.data_analyzer.stats_generator import measures_of_counts
from anovos.data_ingest.data_ingest import write_dataset

write_dataset(measures_of_counts(spark, df), outputPath+"/missing","parquet", file_configs={"mode":"overwrite"})

odf = auto_imputation(spark, df, list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'], 
                      id_col='ifa', stats_missing={"file_path":outputPath+"/missing", "file_type": "parquet"}, 
                      print_impact=True)

/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/anovos/data_transformer/transformers.py:2154: UserWarning: Following columns have all null values: empty
  warnings.warn("Following columns have all null values: " + ",".join(empty_cols))
[Stage 1555:>                                                       (0 + 1) / 1]/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- _0
- _1
- _2
- _3
Feature names seen at fit time, yet now missing:
- age
- capital-gain
- capital-loss
- education-num

  warnings.warn(message, FutureWarning)
/Users/sinuochen/anaconda3/envs/py37/lib/python3.7/site-packages/anovos/data_transformer/transformers.py:1981: UserWarning: The returned odf may not be fully imputed because values for all list_of_cols are null for some IDs
  "The returned odf may not be fully imputed because values for all list_of_cols are null for some IDs"
[Stage 2255:======================================>            (152 + 12) / 200]

[('MMM-mean', 3.7619303948670058), ('MMM-median', 4.2195222297059685), ('KNN', 4.037273402022951), ('regression', 3.7190839693796875), ('matrix_factorization', 4.725047562065969)]
Best Imputation Method:  regression

[Stage 2255:=============================================>     (179 + 12) / 200]

# Latent Features Generation

## PCA Latent Features
- API specification of function **PCA_latentFeatures** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only

In [79]:
from anovos.data_transformer.transformers import PCA_latentFeatures

In [80]:
# Example 1 - with mandatory arguments + print impact
odf = PCA_latentFeatures(spark, df, standardization=True, print_impact=True)
odf.limit(5).toPandas()

[Stage 2483:===================================================>(199 + 1) / 200]

Explained Variance:  0.9866

[Stage 2508:>                                                       (0 + 1) / 1]

+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|summary|latent_0            |latent_1             |latent_2           |latent_3             |latent_4            |latent_5             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|count  |12085               |12085                |12085              |12085                |12085               |12085                |
|mean   |0.006990473625180995|0.0016755667182939693|0.00531931809024164|-0.009834625663188677|0.007587318127886196|-0.008249612368146014|
|stddev |1.381797632041396   |1.1228193008371192   |1.015036593603689  |0.9838047392914232   |0.9419796818084403  |0.8971511772848009   |
|min    |-3.6521552          |-3.5124547           |-8.272692          |-2.186532            |-7.3917856          |-7.4833627           |
|max    |9.021795            |8.73415              |7.3167725          |4.975873             |4.0134373           |2.917701             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+

,ifa,workclass,empty,education,marital-status,occupation,relationship,race,sex,native-country,income,latent_0,latent_1,latent_2,latent_3,latent_4,latent_5
0,3a,Private,None,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,UnitedStates,<=50K,0.544680,-0.323292,-0.042623,0.146981,0.248483,-0.113231
1,4a,Private,None,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,UnitedStates,<=50K,0.707140,-0.398122,0.210681,1.422995,0.590206,-0.326371
2,6a,Private,None,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K,1.169402,0.817424,-0.208944,-0.570670,-0.319456,1.234487
3,7a,Private,None,None,None,Other-service,Not-in-family,Black,Female,Jamaica,<=50K,-0.014027,-2.157362,0.256786,1.788715,-0.760998,-0.507208
4,8a,Self-emp-not-inc,None,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K,0.342476,0.209419,0.112829,0.979675,0.671754,0.071360

In [81]:
# Example 2 - selected columns + customized explained_variance_cutoff + print impact
odf = PCA_latentFeatures(spark, df, list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'], 
                         explained_variance_cutoff=0.6, standardization=True, print_impact=True)
odf.limit(5).toPandas()

Explained Variance:  0.7943

+-------+---------------------+----------------------+---------------------+
|summary|latent_0             |latent_1              |latent_2             |
+-------+---------------------+----------------------+---------------------+
|count  |32466                |32466                 |32466                |
|mean   |1.6552674503466662E-4|-6.3589239401116544E-6|2.8812043641422073E-4|
|stddev |1.0870763482758605   |1.0143077110112224    |0.9826621520658779   |
|min    |-9.827796            |-9.095775             |-2.3905334           |
|max    |2.9694445            |7.914514              |4.3574286            |
+-------+---------------------+----------------------+---------------------+

,ifa,workclass,fnlwgt,logfnl,empty,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income,latent_0,latent_1,latent_2
0,3a,Private,215646,5.333741,None,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,UnitedStates,<=50K,0.423203,0.102860,0.229906
1,4a,Private,234721,5.370552,None,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,UnitedStates,<=50K,0.380385,-0.019731,1.574839
2,6a,Private,284582,5.454207,None,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K,-0.725312,0.091507,-0.904990
3,7a,Private,160187,5.204627,None,None,None,Other-service,Not-in-family,Black,Female,16,Jamaica,<=50K,0.991146,0.023124,1.760285
4,8a,Self-emp-not-inc,209642,5.321478,None,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K,-0.058382,-0.019048,1.084266

In [82]:
# Example 3 - selected columns + save model
odf = PCA_latentFeatures(spark, df, model_path=outputPath, standardization=True)

[Stage 2557:==============================================>    (181 + 12) / 200]

In [83]:
# Example 4 - selected columns + use pre-saved model
odf = PCA_latentFeatures(spark, df, pre_existing_model=True, model_path=outputPath, standardization=True, 
                         print_impact=True)
odf.limit(5).toPandas()

Explained Variance:  0.9866
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|summary|latent_0            |latent_1             |latent_2           |latent_3             |latent_4            |latent_5             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|count  |12085               |12085                |12085              |12085                |12085               |12085                |
|mean   |0.006990473625180995|0.0016755667182939693|0.00531931809024164|-0.009834625663188677|0.007587318127886196|-0.008249612368146014|
|stddev |1.381797632041396   |1.1228193008371192   |1.015036593603689  |0.9838047392914232   |0.9419796818084403  |0.8971511772848009   |
|min    |-3.6521552          |-3.5124547           |-8.272692          |-2.186532            |-7.3917856          |-7.4833627           |
|max    |9.021795            |8.73415              |7.3167725          |4.975873             |4.0134373           |2.917701             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+

,ifa,workclass,empty,education,marital-status,occupation,relationship,race,sex,native-country,income,latent_0,latent_1,latent_2,latent_3,latent_4,latent_5
0,3a,Private,None,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,UnitedStates,<=50K,0.544680,-0.323292,-0.042623,0.146981,0.248483,-0.113231
1,4a,Private,None,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,UnitedStates,<=50K,0.707140,-0.398122,0.210681,1.422995,0.590206,-0.326371
2,6a,Private,None,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K,1.169402,0.817424,-0.208944,-0.570670,-0.319456,1.234487
3,7a,Private,None,None,None,Other-service,Not-in-family,Black,Female,Jamaica,<=50K,-0.014027,-2.157362,0.256786,1.788715,-0.760998,-0.507208
4,8a,Self-emp-not-inc,None,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K,0.342476,0.209419,0.112829,0.979675,0.671754,0.071360

In [84]:
# Example 5 - selected columns + use pre-saved stats + print impact
from anovos.data_analyzer.stats_generator import measures_of_counts
from anovos.data_ingest.data_ingest import write_dataset

write_dataset(measures_of_counts(spark, df), outputPath+"/missing","parquet", file_configs={"mode":"overwrite"})

odf = PCA_latentFeatures(spark, df, standardization=True, 
                         stats_missing={"file_path":outputPath+"/missing", "file_type": "parquet"}, 
                         print_impact=True)

Explained Variance:  0.9866
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|summary|latent_0            |latent_1             |latent_2           |latent_3             |latent_4            |latent_5             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|count  |12085               |12085                |12085              |12085                |12085               |12085                |
|mean   |0.006990473625180995|0.0016755667182939693|0.00531931809024164|-0.009834625663188677|0.007587318127886196|-0.008249612368146014|
|stddev |1.381797632041396   |1.1228193008371192   |1.015036593603689  |0.9838047392914232   |0.9419796818084403  |0.8971511772848009   |
|min    |-3.6521552          |-3.5124547           |-8.272692          |-2.186532            |-7.3917856          |-7.4833627           |
|max    |9.021795            |8.73415              |7.3167725          |4.975873             |4.0134373           |2.917701             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+

In [85]:
# Example 6 - use pre-saved standardization model
odf = PCA_latentFeatures(spark, df, standardization=True,
                         standardization_configs={"pre_existing_model": True, "model_path": outputPath}, 
                         print_impact=True)

Explained Variance:  0.9866
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|summary|latent_0            |latent_1             |latent_2           |latent_3             |latent_4            |latent_5             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+
|count  |12085               |12085                |12085              |12085                |12085               |12085                |
|mean   |0.006990473625180995|0.0016755667182939693|0.00531931809024164|-0.009834625663188677|0.007587318127886196|-0.008249612368146014|
|stddev |1.381797632041396   |1.1228193008371192   |1.015036593603689  |0.9838047392914232   |0.9419796818084403  |0.8971511772848009   |
|min    |-3.6521552          |-3.5124547           |-8.272692          |-2.186532            |-7.3917856          |-7.4833627           |
|max    |9.021795            |8.73415              |7.3167725          |4.975873             |4.0134373           |2.917701             |
+-------+--------------------+---------------------+-------------------+---------------------+--------------------+---------------------+

In [86]:
# Example 7 - impute missing values before calculation
odf = PCA_latentFeatures(spark, df, standardization=True, imputation=True, print_impact=True)

Explained Variance:  0.9635

[Stage 2744:>                                                       (0 + 1) / 1]

+-------+--------------------+--------------------+-------------------+--------------------+---------------------+---------------------+
|summary|latent_0            |latent_1            |latent_2           |latent_3            |latent_4             |latent_5             |
+-------+--------------------+--------------------+-------------------+--------------------+---------------------+---------------------+
|count  |32561               |32561               |32561              |32561               |32561                |32561                |
|mean   |0.014842900705817235|0.037540262676611896|0.00452105304795438|0.010756455649333153|0.0016000300296498654|-0.006853182355680893|
|stddev |1.1508209468691626  |1.0680661788123114  |1.0138911021934351 |0.9808178415429736  |0.938791376448427    |0.8967908005138374   |
|min    |-8.268953           |-3.943358           |-7.9534187         |-2.5194323          |-7.6249423           |-3.4757562           |
|max    |5.2560782           |9.891342            |8.757348           |4.725431            |4.144422             |7.048915             |
+-------+--------------------+--------------------+-------------------+--------------------+---------------------+---------------------+

# Feature Transformation
- API specification of function **feature_transformation** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only

In [87]:
from anovos.data_transformer.transformers import feature_transformation

In [88]:
# Example 1: sqrt 
odf = feature_transformation(idf=df, list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'], 
                             method_type='sqrt', print_impact=True)

Before:
+-------+------------------+-----------------+------------------+------------------+
|summary|capital-gain      |capital-loss     |education-num     |age               |
+-------+------------------+-----------------+------------------+------------------+
|count  |32548             |32549            |32530             |32500             |
|mean   |1077.6959567408135|87.3360164674798 |10.080971411005226|38.506492307692305|
|stddev |7386.624857802765 |403.0310072565718|2.5725103263986977|13.508497735339255|
|min    |0                 |0                |1                 |17                |
|max    |99999             |4356             |16                |85                |
+-------+------------------+-----------------+------------------+------------------+

After:
+-------+------------------+------------------+------------------+------------------+
|summary|capital-gain      |capital-loss      |education-num     |age               |
+-------+------------------+------------------+------------------+------------------+
|count  |32548             |32549             |32530             |32500             |
|mean   |7.916605887234867 |2.0071887821638024|3.1449778910362745|6.1101167051418335|
|stddev |31.859919873613947|9.127418538600217 |0.4359946323859391|1.0830522838818357|
|min    |0.0               |0.0               |1.0               |4.123105625617661 |
|max    |316.226184874055  |66.0              |4.0               |9.219544457292887 |
+-------+------------------+------------------+------------------+------------------+

In [89]:
# Example 2: log + append generated columns
odf = feature_transformation(idf=df, list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'], 
                             method_type='ln', output_mode='append', print_impact=True)

Before:
+-------+------------------+-----------------+------------------+------------------+
|summary|capital-gain      |capital-loss     |education-num     |age               |
+-------+------------------+-----------------+------------------+------------------+
|count  |32548             |32549            |32530             |32500             |
|mean   |1077.6959567408135|87.3360164674798 |10.080971411005226|38.506492307692305|
|stddev |7386.624857802765 |403.0310072565718|2.5725103263986977|13.508497735339255|
|min    |0                 |0                |1                 |17                |
|max    |99999             |4356             |16                |85                |
+-------+------------------+-----------------+------------------+------------------+

After:
+-------+------------------+-------------------+------------------+-------------------+
|summary|capital-gain_ln   |capital-loss_ln    |education-num_ln  |age_ln             |
+-------+------------------+-------------------+------------------+-------------------+
|count  |2710              |1519               |32530             |32500              |
|mean   |8.819883472603545 |7.508497766226061  |2.2689316480632096|3.588027147805643  |
|stddev |1.0158964531089267|0.25675668323690815|0.3168442727686073|0.35895718528658876|
|min    |4.736198448394496 |5.043425116919247  |0.0               |2.833213344056216  |
|max    |11.512915464920228|8.37930948405285   |2.772588722239781 |4.442651256490317  |
+-------+------------------+-------------------+------------------+-------------------+

In [90]:
# Example 3: round to 1 decimal place
odf = feature_transformation(idf=odf, 
                             list_of_cols=['education-num_ln', 'capital-gain_ln', 'capital-loss_ln', 'age_ln'], 
                             method_type='roundN', N=1, print_impact=True)

Before:
+-------+------------------+-------------------+-------------------+------------------+
|summary|education-num_ln  |age_ln             |capital-loss_ln    |capital-gain_ln   |
+-------+------------------+-------------------+-------------------+------------------+
|count  |32530             |32500              |1519               |2710              |
|mean   |2.2689316480632096|3.588027147805643  |7.508497766226061  |8.819883472603545 |
|stddev |0.3168442727686073|0.35895718528658876|0.25675668323690815|1.0158964531089267|
|min    |0.0               |2.833213344056216  |5.043425116919247  |4.736198448394496 |
|max    |2.772588722239781 |4.442651256490317  |8.37930948405285   |11.512915464920228|
+-------+------------------+-------------------+-------------------+------------------+

After:
+-------+-------------------+-------------------+-------------------+------------------+
|summary|education-num_ln   |age_ln             |capital-loss_ln    |capital-gain_ln   |
+-------+-------------------+-------------------+-------------------+------------------+
|count  |32530              |32500              |1519               |2710              |
|mean   |2.272766676913463  |3.588080000000023  |7.512771560237012  |8.815461254612515 |
|stddev |0.32134474122824436|0.36452350644418224|0.25925838253365535|1.0104989965420308|
|min    |0.0                |2.8                |5.0                |4.7               |
|max    |2.8                |4.4                |8.4                |11.5              |
+-------+-------------------+-------------------+-------------------+------------------+

In [91]:
# Example 4: square
odf = feature_transformation(idf=df, list_of_cols='age', method_type='sq', print_impact=True)

Before:
+-------+------------------+
|summary|age               |
+-------+------------------+
|count  |32500             |
|mean   |38.506492307692305|
|stddev |13.508497735339255|
|min    |17                |
|max    |85                |
+-------+------------------+

After:
+-------+------------------+
|summary|age               |
+-------+------------------+
|count  |32500             |
|mean   |1665.2238461538461|
|stddev |1154.2085383349045|
|min    |289.0             |
|max    |7225.0            |
+-------+------------------+

In [92]:
# Example 5: remainder divided by 10
odf = feature_transformation(idf=df, list_of_cols=['education-num', 'capital-gain', 'capital-loss', 'age'], 
                             method_type='remainderDivByN', N=10, print_impact=True)

Before:
+-------+------------------+-----------------+------------------+------------------+
|summary|capital-gain      |capital-loss     |education-num     |age               |
+-------+------------------+-----------------+------------------+------------------+
|count  |32548             |32549            |32530             |32500             |
|mean   |1077.6959567408135|87.3360164674798 |10.080971411005226|38.506492307692305|
|stddev |7386.624857802765 |403.0310072565718|2.5725103263986977|13.508497735339255|
|min    |0                 |0                |1                 |17                |
|max    |99999             |4356             |16                |85                |
+-------+------------------+-----------------+------------------+------------------+

After:
+-------+-------------------+------------------+------------------+------------------+
|summary|capital-gain       |capital-loss      |education-num     |age               |
+-------+-------------------+------------------+------------------+------------------+
|count  |32548              |32549             |32530             |32500             |
|mean   |0.44942853631559543|0.2150603705182955|4.611865969873962 |4.481261538461538 |
|stddev |1.6737804923388617 |1.1542912945715802|3.5679093227719463|2.9182086402901946|
|min    |0                  |0                 |0                 |0                 |
|max    |9                  |9                 |9                 |9                 |
+-------+-------------------+------------------+------------------+------------------+

# Box Cox Transformation
- API specification of function **boxcox_transformation** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports numerical attributes only

In [93]:
from anovos.data_transformer.transformers import boxcox_transformation

In [94]:
# Example 1 - selected columns + print impact
odf = boxcox_transformation(df, drop_cols=['capital-loss', 'capital-gain'], print_impact=True)

Transformed Columns:  ['education-num', 'hours-per-week', 'logfnl', 'fnlwgt', 'age']
Best BoxCox Parameter(s):  [3, 3, 1, 1, 0]
Before:
+--------+-------------------+--------------------+-------------------+------------------+------------------+
|summary |education-num      |hours-per-week      |logfnl             |fnlwgt            |age               |
+--------+-------------------+--------------------+-------------------+------------------+------------------+
|count   |32530              |32452               |12168              |32546             |32500             |
|mean    |10.080971411005226 |40.24972266732405   |5.2054654851899365 |189781.83180728814|38.506492307692305|
|stddev  |2.5725103263986977 |11.914337669272212  |0.27424241727170395|105563.06445057027|13.508497735339255|
|min     |1                  |1                   |4.283617786        |12285             |17                |
|max     |16                 |94                  |6.088696941        |1484705           |85                |
|skewness|-0.3116405912608251|-0.07564449621706562|-0.8540172032168696|1.4470117427296179|0.5127993362812463|
+--------+-------------------+--------------------+-------------------+------------------+------------------+

After:
+--------+------------------+------------------+-------------------+------------------+--------------------+
|summary |education-num     |hours-per-week    |logfnl             |fnlwgt            |age                 |
+--------+------------------+------------------+-------------------+------------------+--------------------+
|count   |32530             |32452             |12168              |32546             |32500               |
|mean    |1219.319090070704 |82218.22969308517 |5.2054654851899365 |189781.83180728814|3.588027147805643   |
|stddev  |835.2889490032047 |74516.8391144729  |0.27424241727170395|105563.06445057027|0.35895718528658876 |
|min     |1.0               |1.0               |4.283617786        |12285             |2.833213344056216   |
|max     |4096.0            |830584.0          |6.088696941        |1484705           |4.442651256490317   |
|skewness|1.1084402123287498|3.3414992236202608|-0.8540172032168696|1.4470117427296179|-0.14607838263666595|
+--------+------------------+------------------+-------------------+------------------+--------------------+

In [95]:
# Example 2 - selected columns + existing lambda value + print impact
odf = boxcox_transformation(df, list_of_cols='age', boxcox_lambda=0, output_mode='append', print_impact=True)

Transformed Columns:  ['age']
Best BoxCox Parameter(s):  [0]
Before:
+--------+------------------+
|summary |age               |
+--------+------------------+
|count   |32500             |
|mean    |38.506492307692305|
|stddev  |13.508497735339255|
|min     |17                |
|max     |85                |
|skewness|0.5127993362812463|
+--------+------------------+

After:
+--------+--------------------+
|summary |age_bxcx_0          |
+--------+--------------------+
|count   |32500               |
|mean    |3.588027147805643   |
|stddev  |0.35895718528658876 |
|min     |2.833213344056216   |
|max     |4.442651256490317   |
|skewness|-0.14607838263666595|
+--------+--------------------+

# Outlier Categories Treatment
- API specification of function **outlier_categories** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>
- Supports 2 ways of outliers detection: by max number of categories and by coverage (%)

In [16]:
from anovos.data_transformer.transformers import outlier_categories

In [17]:
# Example 1 - 'all' columns (excluding drop_cols) + max 15 categories + append transformed columns at the end
odf = outlier_categories(spark, df, drop_cols=['ifa'], max_category=15, output_mode='append')
odf.toPandas().head(5)

,ifa,age,workclass,fnlwgt,logfnl,empty,education,education-num,marital-status,occupation,...,occupation_outliered,empty_outliered,relationship_outliered,marital-status_outliered,workclass_outliered,education_outliered,sex_outliered,native-country_outliered,race_outliered,income_outliered
0,1a,NaN,State-gov,77516.0,4.889391,None,Bachelors,13.0,Never-married,Adm-clerical,...,Adm-clerical,None,Not-in-family,Never-married,State-gov,Bachelors,Male,outlier_categories,White,<=50K
1,2a,NaN,Self-emp-not-inc,83311.0,4.920702,None,Bachelors,13.0,Married-civ-spouse,Exec-managerial,...,Exec-managerial,None,Husband,Married-civ-spouse,Self-emp-not-inc,Bachelors,Male,outlier_categories,White,<=50K
2,3a,38.0,Private,215646.0,5.333741,None,HS-grad,9.0,Divorced,Handlers-cleaners,...,Handlers-cleaners,None,Not-in-family,Divorced,Private,HS-grad,Male,outlier_categories,White,<=50K
3,4a,53.0,Private,234721.0,5.370552,None,11th,7.0,Married-civ-spouse,Handlers-cleaners,...,Handlers-cleaners,None,Husband,Married-civ-spouse,Private,11th,Male,outlier_categories,Black,<=50K
4,5a,NaN,Private,338409.0,5.529442,None,Bachelors,13.0,Married-civ-spouse,Prof-specialty,...,Prof-specialty,None,Wife,Married-civ-spouse,Private,Bachelors,Female,Cuba,Black,<=50K

In [18]:
# Example 2 - selected columns + max 10 categories
odf = outlier_categories(spark, df, list_of_cols=['education', 'occupation', 'native-country'], 
                         max_category=10, print_impact=True)

+--------------+-------------------+
|attribute     |uniqueValues_before|
+--------------+-------------------+
|occupation    |15                 |
|education     |16                 |
|native-country|44                 |
+--------------+-------------------+

+--------------+------------------+
|attribute     |uniqueValues_after|
+--------------+------------------+
|occupation    |10                |
|education     |10                |
|native-country|10                |
+--------------+------------------+

In [19]:
# Example 3 - selected columns + cover 90% values
odf = outlier_categories(spark, df, list_of_cols=['education', 'occupation', 'native-country'], 
                         coverage=0.9, print_impact=True)

+--------------+-------------------+
|attribute     |uniqueValues_before|
+--------------+-------------------+
|occupation    |15                 |
|education     |16                 |
|native-country|44                 |
+--------------+-------------------+

+--------------+------------------+
|attribute     |uniqueValues_after|
+--------------+------------------+
|occupation    |11                |
|education     |9                 |
|native-country|3                 |
+--------------+------------------+

In [20]:
# Example 4 - max 15 categories + save model
odf = outlier_categories(spark, df, drop_cols=['ifa'], max_category=15, 
                         pre_existing_model=False, model_path=outputPath, print_impact=True)

+--------------+-------------------+
|attribute     |uniqueValues_before|
+--------------+-------------------+
|occupation    |15                 |
|relationship  |8                  |
|empty         |0                  |
|marital-status|7                  |
|workclass     |11                 |
|education     |16                 |
|sex           |3                  |
|native-country|44                 |
|race          |9                  |
|income        |2                  |
+--------------+-------------------+

+--------------+------------------+
|attribute     |uniqueValues_after|
+--------------+------------------+
|occupation    |15                |
|relationship  |8                 |
|empty         |0                 |
|marital-status|7                 |
|workclass     |11                |
|education     |15                |
|sex           |3                 |
|native-country|15                |
|race          |9                 |
|income        |2                 |
+--------------+------------------+

In [21]:
# Example 5 - use pre-saved model
odf = outlier_categories(spark, df, drop_cols=['ifa'], pre_existing_model=True, model_path=outputPath, print_impact=True)

+--------------+-------------------+
|attribute     |uniqueValues_before|
+--------------+-------------------+
|occupation    |15                 |
|relationship  |8                  |
|empty         |0                  |
|marital-status|7                  |
|workclass     |11                 |
|education     |16                 |
|sex           |3                  |
|native-country|44                 |
|race          |9                  |
|income        |2                  |
+--------------+-------------------+

+--------------+------------------+
|attribute     |uniqueValues_after|
+--------------+------------------+
|occupation    |15                |
|relationship  |8                 |
|empty         |0                 |
|marital-status|7                 |
|workclass     |10                |
|education     |15                |
|sex           |3                 |
|native-country|15                |
|race          |9                 |
|income        |2                 |
+--------------+------------------+

# Expression Parser
- API specification of function **expression_parser** can be found <a href="https://docs.anovos.ai/api/data_transformer/transformers.html">here</a>

In [102]:
from anovos.data_transformer.transformers import expression_parser

In [103]:
# Example 1 - 2 generated columns + print impact
odf = expression_parser(df, ['age + hours-per-week', 'capital-gain-capital-loss'], print_impact=True)

Columns Added:  ['f0', 'f1']
+-------+------------------+-----------------+
|summary|f0                |f1               |
+-------+------------------+-----------------+
|count  |32392             |32548            |
|mean   |78.75373549024451 |990.3572569743149|
|stddev |18.619824518135385|7410.325259409019|
|min    |20                |-4356            |
|max    |158               |99999            |
+-------+------------------+-----------------+

In [104]:
# Example 1 - 2 generated columns + print impact
odf = expression_parser(df, ['age + hours-per-week', 'capital-gain/capital-loss'], print_impact=True)

Columns Added:  ['f0', 'f1']
+-------+------------------+----+
|summary|f0                |f1  |
+-------+------------------+----+
|count  |32392             |1519|
|mean   |78.75373549024451 |0.0 |
|stddev |18.619824518135385|0.0 |
|min    |20                |0.0 |
|max    |158               |0.0 |
+-------+------------------+----+

In [105]:
# Example 2 - 2 generated columns + customized postfix + print impact
odf = expression_parser(df, ['age + hours-per-week', 'capital-gain - capital-loss'], postfix="_new", print_impact=True)

Columns Added:  ['f0_new', 'f1_new']
+-------+------------------+-----------------+
|summary|f0_new            |f1_new           |
+-------+------------------+-----------------+
|count  |32392             |32548            |
|mean   |78.75373549024451 |990.3572569743149|
|stddev |18.619824518135385|7410.325259409019|
|min    |20                |-4356            |
|max    |158               |99999            |
+-------+------------------+-----------------+